.items-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items-container > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-container > div:first-child > h3 {
    margin: 0;
}
